[Unit]
Description=Spacedeck Whiteboard
After=network.target

[Service]
ExecStart=/var/www/servers/spacedeck-open/spacedeck.js
Restart=always
Environment=NODE_ENV=production
Environment=PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
Environment=DEBUG="*ERROR*,*WARN*,*INFO*"
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=spacedeck
WorkingDirectory=/var/www/servers/spacedeck-open
AmbientCapabilities=CAP_NET_BIND_SERVICE

[Install]
WantedBy=multi-user.target
